
body {
  height: 125vh;
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

main {
  color: white;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header a {
  margin: 20px;
  color: black;
  text-decoration: none;
}
 
section {
  width:600px;
  padding:25px;
  margin:25px auto;
  background: #fff;
  border:1px solid #dedede;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
  -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
  box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}

section h1{
  text-align: center;
}

article {
    padding-bottom: 20px;
    border-bottom: 3px solid black; 
}

article a{
  text-decoration: none;
}

footer {
  position: absolute;  
  left: 0;  
  right: 0;
  background: #111;
  height: 50px;
  width: 100%;
}

footer * {
  text-align: center;
  color: white;
}

